<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="frontproyecto-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <input type="text" name="" value="{{nombre::input}}">
    <input type="text" name="" value="[[nombre]]">
    <h2>El esquimal se llama {{nombre}} [[apellidos]]</h2>
    <h2>El esquimal se llama [[nombre]] [[apellidos]]</h2>
    <input type="range" min="25" max="70" value="{{edad::input}}">
    <h3>y tiene [[edad]] años</h2>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class FrontproyectoApp extends Polymer.Element {
      static get is() { return 'frontproyecto-app'; }
      static get properties() {
        return {
          nombre: {
            type: String
          },
          apellidos: {
            type: String
          },
          edad: {
            type: Number
          }
        }
      };
    }


    window.customElements.define(FrontproyectoApp.is, FrontproyectoApp);
  </script>
</dom-module>
