<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax
    id="hacerLogin"
    url="http://localhost:3000/apitechu/v5/usuarios/login"
    method="POST"
    handle-as="json"
    on-response="mostrarResultadoLogin"
    on-error="mostrarError">
    </iron-ajax> <!--  Con Iron-Ajax es para hacer una peticion que ejecute algo y luego nos devuelva el control -->

    <div class="row">
      <input type="email" name="" value="{{email::input}}">
      <input type="password" name="" value="{{password::input}}">
      <button on-click="logar">Login</button>
    </div>
    <span hidden$="{{!logado}}">Bienvenido de nuevo</span>
    <!-- <button type="button" name="login" class="btn-info col-2">Login</button>
    <button type="button" name="logout" class="btn-default col-2">Logout</button> -->
  </template>

  <!-- url="http://rutaapitechu-apitechucmc.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/usuarios/{{id}}" -->
  <!-- url="http://localhost:3000/apitechu/v5/usuarios/{{id}}" -->

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          logado: {
            type: Boolean,
            value: false
          }
        }
      };

      mostrarResultadoLogin(resultado) {
        console.log("4. Llega el resultado: " + resultado)
        console.log("5. Procesando el resultado")
        this.logado = true
      }

      logar(){
        console.log("1. Boton pulsado: " + this.email)
        this.$.hacerLogin.headers.email = this.email //Te localiza el elemento dentro del DOM
        this.$.hacerLogin.headers.password = this.password  //Te localiza el elemento dentro del DOM
        console.log("2. Voy a enviar la peticion")
        this.$.hacerLogin.generateRequest()
        console.log("3. Petición enviada")
      }

      mostrarError(error){
        console.log("4. Llega el error: " + error)
      }

    } //Cierre class LoginUsuario

    window.customElements.define(LoginUsuario.is,LoginUsuario);
  </script>
</dom-module>
