<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">



<dom-module id="visor-cuentas">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>

     <!-- url="http://localhost:3000/apitechu/v5/usuarios/login" -->
     <!-- url="http://rutaapitechu-apitechucmc.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/cuentas/cliente" -->

    <iron-ajax id="obtenerCuentas"
      url="http://rutaapitechu-apitechucmc.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/cuentas/cliente"
      handle-as="json"
      headers='{"idcliente":528}'
      auto=""
      on-response="mostrarCuentas"
      on-error="mostrarErrorCuentas">
    </iron-ajax>
    <h1>Sus cuentas</h1>
    <table border="1">
      <thead>
        <th>INDICE</th>
        <th colspan="2">IBAN</th>
      </thead>
      <tbody>
        <template is="dom-repeat" items="{{cuentas}}">
          <tr>
            <td><span>{{index}}</span></td>
            <td><span>{{item.iban}}</span></td>
            <td><a class="btn btn-info" href="/movimientos/[[item.iban]]">Ver Movimientos</a></td>

          </tr>
        </template>
      </tbody>
    </table>
  </template>

  <script>
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return { // No devolvemos nada en esta funcion
            idcliente: {
            type: Number,
            value: 528
          },
          cuentas: {
            type: Array
          }
        };
      }
      mostrarCuentas(myResultado) {
        console.log(myResultado.detail.response)
        this.cuentas = myResultado.detail.response
      }
      mostrarErrorCuentas(myError) {
        console.log(myError.detail.response)
      }
    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
