<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax auto ="" id="obtenerUsuario"
      url="http://localhost:3000/apitechu/v5/usuarios/{{id}}"
      handle-as="json"
      on-response="mostrarDatos">
    </iron-ajax>
    <div class="row">
      <h1 class="col-5">{{first_name}}</h1>
      <h2 class="col-7">{{last_name}}</h2>
    </div>
    <!-- <button type="button" name="login" class="btn-info col-2">Login</button>
    <button type="button" name="logout" class="btn-default col-2">Logout</button> -->
  </template>

  <!-- url="http://rutaapitechu-apitechucmc.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/usuarios/{{id}}" -->
  <!-- url="http://localhost:3000/apitechu/v5/usuarios/{{id}}" -->

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          country: {
            type: String,
            value: "Desconocida"
          },
          id: {
            type: Number
          }
        }
      };

      mostrarDatos(datos) {
        console.log(datos.detail)
        console.log(datos.detail.response)
        this.first_name = datos.detail.response[0].first_name
        this.last_name = datos.detail.response[0].last_name
      }
    }


    window.customElements.define(VisorUsuario.is,VisorUsuario);
  </script>
</dom-module>
